@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300&display=swap');

.nearby{
    font-style: italic;
    font-weight: bold;
}

.col-9{
    padding-bottom: 30px;
}

.col-12{
    text-align: left;
}

.seemore{
    background: transparent;
    border: none;
    color: rgb(16, 16, 160);
}

.clean li{
    list-style: none;
}

.distancing li{
    list-style: none;
}

.location {
    /* background-image: url('C:/Users/neelt/OneDrive/Documents/Projects/SeaRay-Motel/public/images/308612485.jpg'); */
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    overflow: hidden;
    position: relative;
    height: max-content;
    padding: 40px;
    padding-bottom: 30px;
    opacity: 0; /* Initially hide the component */
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.9s ease-in-out;
    color: black;
    margin-top: 0px;
  }
  .location.visible {
    opacity: 1; /* Show the component with a smooth transition */
    transform: translateY(0);
  }
  
  .location .container {
    position: relative;
    z-index: 2;
    transform: translateZ(0);
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
  }

  .location.visible .container {
    transform: scale(1);
  }
  
  /* Apply parallax effect to the background image */
  .location:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: translateZ(-1px) scale(2);
  }
  
  /* Style for the rest of the content */
  .location h4,
  h5,
  p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .location .row {
    margin-top: 30px;
  }
  
  .location .col-5 {
    margin-top: 20px;
    /* opacity: 0; */
    /* transform: translateY(20px); */
    /* transition: opacity 0.5s ease-in-out, transform 0.9s ease-in-out; */
  }
  
  /* .location.visible .col-5 {
    opacity: 1;
    transform: translateY(0);
  } */

  .nearby {
    font-weight: bold;
  }
  
  .seemore {
    background-color: transparent;
    color: blue;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
    padding: 0;
  }

  .location h4{
    font-size: 44px;
    font-family: 'Merienda', cursive;
  }

  .location h5{
    font-size: 29px;
  }
  /* Styles for the parallax scrolling effect */
  /* .expanded {
    height: auto !important;
    opacity: 1 !important;
    transform: translateY(0) !important;
    transition: opacity 0.3s, transform 0.3s;
  }
  
  .content {
    height: 0;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s, transform 0.3s;
  }
  
  hr {
    margin-top: 40px;
    margin-bottom: 40px;
    border-color: rgba(255, 255, 255, 0.3);
  } */
