.roomamenities{
    /* background-color: rgb(159, 222, 222); */
    height: max-content;
    min-height: 50vh;
    padding: 30px;
    opacity: 0; /* Initially hide the component */
    transform: translateY(20px);
    transition: opacity 0.5s ease-in, transform 0.9s ease-in;
    color: black;
    margin-bottom: 2px;
}

.roomamenities.visible{
    opacity: 1;
    transform: translateY(0);
}

.roomamenities .container{
    position: relative;
    z-index: 2;
    transform: translateZ(0);
    transform: scale(0);
    transition: transform 0.5s ease-in;
}

.roomamenities.visible .container{
    transform: scale(1) ;
}

li{
    list-style:none;
}