/* .navbar ul{
    position: fixed;
    top: 0;
    width: 100%;
    color: black;
    z-index: 9999;
}

a:active{
    text-decoration: underline;
    background-color: aqua;
} */

.navbar {
    transition: background-color 0.3s ease-in-out;
  }

  .navbar-scrolled {
    background-color: #ffffff; /* Set your desired background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow effect if desired */
  }

  .navbar-brand {
    font-weight: bold;
  }

  .navbar-nav .nav-item .nav-link {
    cursor: pointer;
    font-weight: bolder;
  }

  .navbar-nav .nav-item .nav-link:hover {
    color: #000000; /* Set your desired hover color */
  }

a:active{
    text-decoration: underline;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.header{
    /* background-color: rgb(168, 168, 230); */
    height: 30rem;
    overflow: hidden;
    margin-top: 0px;
}

.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.image-container img {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.image-container .image-text {
    position: absolute;
    padding-top: 50px;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90px;
    font: bolder;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-family: 'Dancing Script', cursive;
    z-index: 1;
  }

.image-text span{
    color: greenyellow;
}


