.card {
    width: 300px;
    border: none;
    outline: none;
    border-radius: 0px;
    background-color: #ffffff;
    margin-top: 60px;
  }
  .slick-slide img {
    height: 500px;
    padding: 10px;
  }
