@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

.overview {
  /* background-image: url('C:/Users/neelt/OneDrive/Documents/Projects/SeaRay-Motel/public/images/308634967.jpg'); */
  height: max-content;
  background-size: cover;
  background-position: center;
  min-height: 48vh;
  overflow: hidden;
  position: relative;
  padding-bottom: 60px;
  margin-bottom: 30px;
  opacity: 0; /* Initially hide the component */
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.9s ease-in-out;
  color: black;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 70vh;
  margin-left: 145px;
  box-shadow: 8px 8px 15px rgba(27, 208, 232, 0.896);
}

.overview.visible {
  opacity: 1; /* When the component is visible, set opacity to 1 */
  transform: translateY(0);
}

.overview .container {
  position: relative;
  z-index: 2;
  transform: translateZ(0);
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}

.overview.visible .container {
  transform: scale(1);
}

.overview h4 {
  font-size: 44px;
  font-family: 'Merienda', cursive;
}

.overview .col-6{
  margin-top: 40px;
}

.overview h6{
  font-size: 24px;
}


