.policies{
    /* background-color: rgb(183, 213, 152); */
    height: max-content;
    padding: 6px;
    margin-top: 0px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-left: 85px;
    /* box-shadow: 8px 8px 15px rgba(27, 208, 232, 0.896); */
}

.policies .container{
  position: relative;
  z-index: 2;
  transform: translateZ(0);
  transform: scale(0);
  transition: transform 0.5s ease-in;
}

.policies.visible .container{
  transform: scale(1) ;
}

.faq-question {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    padding: 0;
    position: relative;
    font-size: larger;
    font-weight: bolder;
  }

  .arrow {
    margin-right: 8px;
    width: 8px;
    height: 8px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    transition: transform 0.3s;
  }

  .arrow.active {
    transform: rotate(45deg);
  }

  .review-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
  }

  .form-group {
    margin-bottom: 10px;
  }

  label {
    display: block;
    font-weight: bold;
  }

  .star-rating {
    display: flex;
    align-items: center;
  }

  .star {
    font-size: 24px;
    color: #888;
    cursor: pointer;
  }

  .star.filled {
    color: gold;
  }

  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button[type='submit'] {
    background-color: #4caf50;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button[type='submit']:hover {
    background-color: #45a049;
  }

  .review-list {
    margin-top: 20px;
  }

  .review-list h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .review-list ul {
    list-style-type: none;
    padding: 0;
  }

  .review-list .review-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .review-list .rating {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .rating{
    color: gold;
  }

  .review-list .comment {
    color: #666;
  }

h4{
  font-size: 28px;
}

h5{
  font-size: 28px;
}